body {
    width: auto;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
}
.panel-header{
    align-items: center;
    justify-content: center;
}
.c-img {
    aspect-ratio: 16 / 9;
}
.carousel-inner img{
    overflow: hidden;
    object-fit: cover;
}
.list-group-item{
    width: 300px;
}
.contacto{
    width: 350px;
    height: 250px;
}
.horario{
    width: 350px;
    height: 250px;
}
.c-item {
    height: 780px;
}
.c-img{
    height: 100%;
    
}
.w-100 {
    width: 1500px;
    height: 300px;
}

@media screen and (max-width: 1400px) and (min-width:820px){
    img {
        object-fit: cover;
    }
    .carousel-inner, .carousel, .carousel-control-prev{
        height: 550px;
    }
}

@media screen and (max-width: 819px) {
    .carousel-inner, .carousel{
        height: 450px;
    }
    .carousel-control-prev, .carousel-control-next {
        height: 380px;
        margin-top: 40px;
    }
    
    .carousel-control-prev-icon {
        margin-left: 50px;
    }
    .carousel-control-next-icon {
        margin-right: 50px;
    }
    
}

@media screen and (max-width: 625px) {
    
    .card-text{
        font-size: 12px;
    }
    .carousel-inner, .carousel {
        height: 350px;
    }
    .carousel-control-prev, .carousel-control-next {
        height: 300px;
        margin-top: 40px;
    }
    
    .carousel-control-prev-icon {
        margin-left: 50px;
    }
    .carousel-control-next-icon {
        margin-right: 50px;
    }
}
@media screen and (max-width: 660px) {
    
    .map iframe {
        width: 450px;
        height: 350px;
    }
}

@media screen and (max-width: 480px) and (min-width:320px) {
    .carousel-inner, .carousel{
        height: 250px;
    }
    .carousel-control-prev, .carousel-control-next {
        height: 190px;
        margin-top: 40px;
    }
    .carousel-control-prev{
        margin-left: 20px;
    } 
    .carousel-control-next {
        margin-right: 20px;
    }
    .carousel-control-prev-icon , .carousel-control-next-icon {
        width: 20px;
        height: 24px;
    } 
    .map iframe {
        width: 290px;
        height: 320px;
    }
    .contacto {
        flex-wrap: wrap;
    }
    .inforCont, .trabajosCards, .card {
        flex-wrap: wrap;
        margin: 10px;
    }
    .card-img-top {
        height: 150px;
        
    }
    .fs-5 {
        font-size: 12px;
    }

}
